# Make Intel RAPL energy counters readable by all users
# This allows monitoring tools to read CPU power consumption without sudo

SUBSYSTEM=="powercap", ACTION=="add", RUN+="/bin/chmod -R a+r /sys/class/powercap/intel-rapl/"
